In [132]:
import spacy

In [133]:
# nlp = spacy.blank("en")  # create blank Language class

# doc =  nlp('''"Let's go to N.Y.!"''')

# for sentence in doc:
#     print(sentence)

In [134]:
doc = nlp("tony gave two $ to mary")

In [135]:
tokon0=doc[0]
tokon0

tony

In [136]:
tokon0.like_num

False

In [137]:
tokon2=doc[2]
tokon2

two

In [138]:
tokon2.like_num

True

In [139]:
for token in doc:
    print(token,"==>","index",token.i,
          "is_alpha",token.is_alpha,
          "is_punct",token.is_punct,
          "like_num:",token.like_num,
          "is_currency",token.is_currency,)

tony ==> index 0 is_alpha True is_punct False like_num: False is_currency False
gave ==> index 1 is_alpha True is_punct False like_num: False is_currency False
two ==> index 2 is_alpha True is_punct False like_num: True is_currency False
$ ==> index 3 is_alpha False is_punct False like_num: False is_currency True
to ==> index 4 is_alpha True is_punct False like_num: False is_currency False
mary ==> index 5 is_alpha True is_punct False like_num: False is_currency False

In [140]:
with open("school.txt") as f:
    text = f.readlines()
text

['Hello welcome to my school \n',
 '\n',
 'Name         birth day          email\n',
 '----         ---------         -----\n',
 'priyanshu   24/10/2003         priyanshu226@gmail.com\n',
 '\n',
 'om          25/03/2003          omlimdi262@gmail.com\n',
 '\n',
 'krips       26/04/2003             kripsjaviya283@gmail.com\n',
 '\n',
 'ram         27/05/2003          rampatel23gamil.com']

In [141]:
text = ' '.join(text)
text

'Hello welcome to my school \n \n Name         birth day          email\n ----         ---------         -----\n priyanshu   24/10/2003         priyanshu226@gmail.com\n \n om          25/03/2003          omlimdi262@gmail.com\n \n krips       26/04/2003             kripsjaviya283@gmail.com\n \n ram         27/05/2003          rampatel23gamil.com'

In [142]:
doc = nlp(text)
email = []
for token in doc:
    if token.like_email:
        email.append(token.text)
email

['priyanshu226@gmail.com', 'omlimdi262@gmail.com', 'kripsjaviya283@gmail.com']

In [143]:
from spacy.symbols import ORTH

nlp.tokenizer.add_special_case("gimme",[{ORTH:"gim"},{ORTH:"me"}])

doc = nlp("gimme double cheese extra large healthy pizza")
tokens = [token.text for token in doc]
tokens

['gim', 'me', 'double', 'cheese', 'extra', 'large', 'healthy', 'pizza']